/SomaValor/nbproject/private/
/SomaValor/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/CalculadoraIdade/nbproject/private/
/JaqaCod/nbproject/private/
/JaqaCod/build/
/MapaProgramacao1/nbproject/private/
/MapaProgramacao1/build/
