/SomaValor/nbproject/private/
/SomaValor/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/CalculadoraIdade/nbproject/private/
/JaqaCod/nbproject/private/
/JaqaCod/build/
/MapaProgramacao1/nbproject/private/
/MapaProgramacao1/build/
/atividade1/nbproject/private/
/chess-system-java-do Nelio/nbproject/private/
/atividade1_teste/nbproject/private/
/projeto banco teste/nbproject/private/
/atividade1_teste/build/
/Program/nbproject/private/
/Program/build/
/atividade da faculdade modelo 1/nbproject/private/
